* {
  box-sizing: border-box;
}
body {
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.hidden {
  display: none;
}
#clock {
  font-size: 50px;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#quote {
  margin-top: 10px;
  margin-bottom: 20px;
}
